In [1]:
import polars as pl
from db_functions import *

In [9]:
df1 = pl.read_parquet('jobs_from_7.0_days_2025-04-18.parquet').rename(
    {"Seniority level": "seniority_level",
     "Employment type": "employment_type",
     "Job function": "job_function",
     "Industries": "industries",}
)
df2 = pl.read_csv('joblist_2025-04-13_.csv').drop('cloud_focus')

In [3]:
# --- 1. Configuration ---
db_file = 'my_project.duckdb' # Use .duckdb extension by convention
table_name = 'test_table' #Choose a name for your SQL table

In [17]:
print(df1.count())

shape: (1, 10)
‚îå‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îê
‚îÇ title ‚îÜ company ‚îÜ location ‚îÜ date ‚îÜ ‚Ä¶ ‚îÜ seniority_lev ‚îÜ employment_t ‚îÜ job_function ‚îÜ industries ‚îÇ
‚îÇ ---   ‚îÜ ---     ‚îÜ ---      ‚îÜ ---  ‚îÜ   ‚îÜ el            ‚îÜ ype          ‚îÜ ---          ‚îÜ ---        ‚îÇ
‚îÇ u32   ‚îÜ u32     ‚îÜ u32      ‚îÜ u32  ‚îÜ   ‚îÜ ---           ‚îÜ ---          ‚îÜ u32          ‚îÜ u32        ‚îÇ
‚îÇ       ‚îÜ         ‚îÜ          ‚îÜ      ‚îÜ   ‚îÜ u32           ‚îÜ u32          ‚îÜ              ‚îÜ            ‚îÇ
‚ïû‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï™‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ïê‚ï°
‚îÇ 31    ‚îÜ 31      ‚îÜ 31       ‚îÜ 31   ‚îÜ ‚Ä¶ ‚îÜ 31            ‚îÜ 31           ‚îÜ 31           ‚îÜ 31         ‚îÇ
‚îî‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îò

In [12]:
con = duckdb.connect("my_project.duckdb")

In [14]:
con.sql("""SELECT COUNT(*) FROM test_table""")

‚îå‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îê
‚îÇ count_star() ‚îÇ
‚îÇ    int64     ‚îÇ
‚îú‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î§
‚îÇ           60 ‚îÇ
‚îî‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îò

In [11]:
insert_into_db(df1, table_name, db_file)

--- Performing UPSERT for table 'test_table' on key 'job_url' ---
Registered DataFrame as view 'df_upsert_view'
Executed: CREATE TABLE IF NOT EXISTS test_table(
                                title VARCHAR,
                                company VARCHAR,
                                location VARCHAR,
                                date DATE,
                                job_url VARCHAR PRIMARY KEY,
                                job_description VARCHAR,
                                seniority_level VARCHAR,
                                employment_type VARCHAR,
                                job_function VARCHAR,
                                industries VARCHAR,
                                );
                                 (if table didn't exist)

Executing UPSERT SQL:

        INSERT INTO test_table ("title", "company", "location", "date", "job_url", "job_description", "seniority_level", "employment_type", "job_function", "industries")
        SELECT "title", "company", "location", "date", "job_url", "job_description", "seniority_level", "employment_type", "job_function", "industries" FROM df_upsert_view
        ON CONFLICT (job_url) DO UPDATE SET
            "title" = excluded."title", "company" = excluded."company", "location" = excluded."location", "date" = excluded."date", "job_description" = excluded."job_description", "seniority_level" = excluded."seniority_level", "employment_type" = excluded."employment_type", "job_function" = excluded."job_function", "industries" = excluded."industries";

UPSERT execution successful.
Unregistered view 'df_upsert_view'

--- Table content AFTER upsert ---
                                                title
0                                Data Engineer Senior  \
1                                       Data Engineer
2                                       Data Engineer
3                                Senior Data Engineer
4                                Senior Data Engineer
5            Ingeniero de Datos ($1.400.000 l√≠quidos)
6                             Data Engineer - AWS Ssr
7                             Data Engineer - GCP Ssr
8            Data Engineer AWS ‚Äì Contrato Indefinido.
9                   Data Engineer Soluciones de Datos
10                                      Data Engineer
11                               Data Engineer Junior
12                        Senior Data Engineer Python
13                                  Data Engineer AWS
14                                      Data Engineer
15                                      Data Engineer
16                Data Engineer ‚Äì Proyecto de 6 Meses
17                  Data Engineer Semisenior o Senior
18  Ingeniero de Datos Maestros (Proyecto Corporat...
19                                 Ingeniero de Datos
20                               Senior Data Engineer
21                               Senior Data Engineer
22                                      Data Engineer
23                                      Data Engineer
24                            Ingeniero de Datos/ Dbt
25                                      Data Engineer
26                                  Data Engineer GCP
27                                 Ingeniero de Datos
28                                Data Engineer Azure
29                                 Ingeniero de Datos
30                                      Data Engineer
31                               Senior Data Engineer
32                               Senior Data Engineer
33                                  Data Engineer AWS
34                    INGENIERO DE DATOS SENIOR_CHILE
35                       INGENIERO DE DATOS II _CHILE
36                    INGENIERO DE DATOS SENIOR_CHILE
37                               Senior Data Engineer
38          Data Engineer (GCP & DataFlow & Bigquery)
39             Data Engineer - Databricks - Mid Level
40                Data Engineer - Databricks - Senior
41             Data Engineer - Databricks - Mid Level
42                Data Engineer - Databricks - Senior
43              Data Engineer - Snowflake - Mid Level
44                               Senior Data Engineer
45                              Product Data Engineer
46                                 Lead Data Engineer
47     INGENIERO DE DATOS SENIOR MINER√çA O INDUSTRIAL
48                  Sr. Data Engineer (Snowflake/dbt)
49                               Senior Data Engineer
50            INGENIERO DE DATOS MINER√çA O INDUSTRIAL
51                Ingeniero de Datos Python - H√≠brido
52                           Data Engineer Databricks
53                            Ecommerce Data Engineer
54                                 Ingeniero de datos
55                                Chief Data Engineer
56                                Chief Data Engineer
57                                Chief Data Engineer
58                                 Lead Data Engineer
59                               Senior Data Engineer

                                     company
0                                    Equifax  \
1                                      Seeds
2                                      Tsoft
3                            Grupo Falabella
4                            Grupo Falabella
5                                     Vector
6                                      axity
7                                      axity
8                              BC Tecnolog√≠a
9                                      LISIT
10                                   2Brains
11                                     LISIT
12                                  23people
13                             BC Tecnolog√≠a
14                                ICONSTRUYE
15                             BC Tecnolog√≠a
16                             BC Tecnolog√≠a
17                                     LISIT
18                                 Agrosuper
19                                    Devaid
20                           Grupo Falabella
21                           Grupo Falabella
22                                   Xepelin
23                               NeuralWorks
24                             BC Tecnolog√≠a
25                               Mediastream
26  Soluciones - Data & Analytics Consulting
27                         Amaris Consulting
28
29                                  AyCA SpA
30                                 Falabella
31                              Ottomatik.io
32                                  23people
33  Soluciones - Data & Analytics Consulting
34                                     Ayesa
35                                     Ayesa
36                                     Ayesa
37                           Grupo Falabella
38                                    Option
39                                 Lumenalta
40                                 Lumenalta
41                                 Lumenalta
42                                 Lumenalta
43                                 Lumenalta
44                           Grupo Falabella
45                        Ria Money Transfer
46                               Athenaworks
47                                X-Analytic
48                                     Sparq
49                                     Sparq
50                                X-Analytic
51                                      KPaz
52                 Tata Consultancy Services
53                              Tigabytes_CL
54                                    MindCo
55                              EPAM Systems
56                              EPAM Systems
57                              EPAM Systems
58                              EPAM Systems
59                              EPAM Systems

                                           location       date
0   Las Condes, Santiago Metropolitan Region, Chile 2025-04-11  \
1               Santiago Metropolitan Region, Chile 2025-04-14
2               Santiago Metropolitan Region, Chile 2025-04-15
3     Santiago, Santiago Metropolitan Region, Chile 2025-04-17
4     Santiago, Santiago Metropolitan Region, Chile 2025-04-17
5     Santiago, Santiago Metropolitan Region, Chile 2025-04-07
6     Santiago, Santiago Metropolitan Region, Chile 2025-04-09
7     Santiago, Santiago Metropolitan Region, Chile 2025-04-09
8     Santiago, Santiago Metropolitan Region, Chile 2025-04-09
9                              Biob√≠o Region, Chile 2025-04-10
10                                            Chile 2025-04-10
11    Santiago, Santiago Metropolitan Region, Chile 2025-04-10
12                                            Chile 2025-04-10
13    Santiago, Santiago Metropolitan Region, Chile 2025-04-10
14    Santiago, Santiago Metropolitan Region, Chile 2025-04-10
15    Santiago, Santiago Metropolitan Region, Chile 2025-04-10
16    Santiago, Santiago Metropolitan Region, Chile 2025-04-10
17    Santiago, Santiago Metropolitan Region, Chile 2025-04-10
18                Rancagua, O'Higgins Region, Chile 2025-04-10
19                                            Chile 2025-04-10
20    Santiago, Santiago Metropolitan Region, Chile 2025-04-09
21    Santiago, Santiago Metropolitan Region, Chile 2025-04-09
22    Santiago, Santiago Metropolitan Region, Chile 2025-04-09
23    Santiago, Santiago Metropolitan Region, Chile 2025-04-10
24    Santiago, Santiago Metropolitan Region, Chile 2025-04-10
25    Santiago, Santiago Metropolitan Region, Chile 2025-04-10
26    Santiago, Santiago Metropolitan Region, Chile 2025-04-10
27                                            Chile 2025-04-10
28    Santiago, Santiago Metropolitan Region, Chile 2025-04-10
29    Santiago, Santiago Metropolitan Region, Chile 2025-04-11
30    Santiago, Santiago Metropolitan Region, Chile 2025-04-11
31    Santiago, Santiago Metropolitan Region, Chile 2025-04-12
32                                            Chile 2025-04-11
33              Santiago Metropolitan Region, Chile 2025-04-11
34              Santiago Metropolitan Region, Chile 2025-04-16
35              Santiago Metropolitan Region, Chile 2025-04-16
36              Santiago Metropolitan Region, Chile 2025-04-16
37    Santiago, Santiago Metropolitan Region, Chile 2025-04-14
38                       Santiago Metropolitan Area 2025-04-12
39    Santiago, Santiago Metropolitan Region, Chile 2025-04-13
40                                            Chile 2025-04-13
41                                            Chile 2025-04-13
42                                            Chile 2025-04-13
43                                            Chile 2025-04-14
44    Santiago, Santiago Metropolitan Region, Chile 2025-04-14
45    Santiago, Santiago Metropolitan Region, Chile 2025-04-15
46                       Santiago Metropolitan Area 2025-04-17
47    Santiago, Santiago Metropolitan Region, Chile 2025-04-17
48                                            Chile 2025-04-15
49                                            Chile 2025-04-15
50    Santiago, Santiago Metropolitan Region, Chile 2025-04-17
51  Las Condes, Santiago Metropolitan Region, Chile 2025-04-16
52              Santiago Metropolitan Region, Chile 2025-04-16
53    Santiago, Santiago Metropolitan Region, Chile 2025-04-16
54    Santiago, Santiago Metropolitan Region, Chile 2025-04-17
55                                            Chile 2025-04-17
56                                            Chile 2025-04-17
57                                            Chile 2025-04-17
58                                            Chile 2025-04-17
59                                            Chile 2025-04-17

                                           job_url
0   https://www.linkedin.com/jobs/view/4144902157/  \
1   https://www.linkedin.com/jobs/view/4189755534/
2   https://www.linkedin.com/jobs/view/4191440590/
3   https://www.linkedin.com/jobs/view/4194509556/
4   https://www.linkedin.com/jobs/view/4194515161/
5   https://www.linkedin.com/jobs/view/4203857279/
6   https://www.linkedin.com/jobs/view/4204874848/
7   https://www.linkedin.com/jobs/view/4204875774/
8   https://www.linkedin.com/jobs/view/4204878459/
9   https://www.linkedin.com/jobs/view/4205294845/
10  https://www.linkedin.com/jobs/view/4205294882/
11  https://www.linkedin.com/jobs/view/4205294902/
12  https://www.linkedin.com/jobs/view/4205294906/
13  https://www.linkedin.com/jobs/view/4205294910/
14  https://www.linkedin.com/jobs/view/4205295718/
15  https://www.linkedin.com/jobs/view/4205297472/
16  https://www.linkedin.com/jobs/view/4205297473/
17  https://www.linkedin.com/jobs/view/4205297492/
18  https://www.linkedin.com/jobs/view/4205297494/
19  https://www.linkedin.com/jobs/view/4205299283/
20  https://www.linkedin.com/jobs/view/4205321119/
21  https://www.linkedin.com/jobs/view/4205465977/
22  https://www.linkedin.com/jobs/view/4205474021/
23  https://www.linkedin.com/jobs/view/4205500303/
24  https://www.linkedin.com/jobs/view/4205500332/
25  https://www.linkedin.com/jobs/view/4206504298/
26  https://www.linkedin.com/jobs/view/4206574777/
27  https://www.linkedin.com/jobs/view/4206597362/
28  https://www.linkedin.com/jobs/view/4206654598/
29  https://www.linkedin.com/jobs/view/4206696535/
30  https://www.linkedin.com/jobs/view/4207045620/
31  https://www.linkedin.com/jobs/view/4207190424/
32  https://www.linkedin.com/jobs/view/4207846989/
33  https://www.linkedin.com/jobs/view/4207848749/
34  https://www.linkedin.com/jobs/view/4208335983/
35  https://www.linkedin.com/jobs/view/4208339473/
36  https://www.linkedin.com/jobs/view/4208341372/
37  https://www.linkedin.com/jobs/view/4208425354/
38  https://www.linkedin.com/jobs/view/4208792219/
39  https://www.linkedin.com/jobs/view/4209420542/
40  https://www.linkedin.com/jobs/view/4209421507/
41  https://www.linkedin.com/jobs/view/4209427076/
42  https://www.linkedin.com/jobs/view/4209434250/
43  https://www.linkedin.com/jobs/view/4209447525/
44  https://www.linkedin.com/jobs/view/4209819635/
45  https://www.linkedin.com/jobs/view/4210045636/
46  https://www.linkedin.com/jobs/view/4210179442/
47  https://www.linkedin.com/jobs/view/4210879671/
48  https://www.linkedin.com/jobs/view/4210996594/
49  https://www.linkedin.com/jobs/view/4210998431/
50  https://www.linkedin.com/jobs/view/4211183353/
51  https://www.linkedin.com/jobs/view/4211700163/
52  https://www.linkedin.com/jobs/view/4211760013/
53  https://www.linkedin.com/jobs/view/4211780824/
54  https://www.linkedin.com/jobs/view/4212165693/
55  https://www.linkedin.com/jobs/view/4212167524/
56  https://www.linkedin.com/jobs/view/4212169304/
57  https://www.linkedin.com/jobs/view/4212170233/
58  https://www.linkedin.com/jobs/view/4212347466/
59  https://www.linkedin.com/jobs/view/4212352065/

                                      job_description   seniority_level
0   Como Data Engineer, estar√°s a cargo de integra...  Mid-Senior level  \
1   ¬øSos \nData Engineer\n? Entonces‚Ä¶ ¬øQu√© est√°s e...  Mid-Senior level
2   En Tsoft estamos en la b√∫squeda de un \nData E...         Associate
3   Descripci√≥n Empresa\nSomos m√°s de 90 mil perso...  Mid-Senior level
4   Descripci√≥n Empresa\nSomos m√°s de 90 mil perso...  Mid-Senior level
5   Somos una empresa L√≠der en el rubro TI. Nos en...    Not Applicable
6   Company Description: axity\r\nJob Description:...  Mid-Senior level
7   Company Description: axity\r\nJob Description:...  Mid-Senior level
8   Company Description: BC Tecnolog√≠a\r\nJob Desc...  Mid-Senior level
9   En *Lisit*, nos dedicamos a crear, desarrollar...  Mid-Senior level
10  2Brains es una empresa dedicada a construir y ...  Mid-Senior level
11  En Lisit, nos dedicamos a crear, desarrollar e...       Entry level
12  √önete a Equifax Chile como Senior Data Enginee...  Mid-Senior level
13  En \r\nBC Tecnolog√≠a\r\n, nos especializamos e...    Not Applicable
14  En ICONSTRUYE, hemos estado a la vanguardia de...    Not Applicable
15                     Could not find Job Description              None
16  En BC Tecnolog√≠a, somos una consultora de TI c...    Not Applicable
17  Lisit es una empresa comprometida con la creac...  Mid-Senior level
18  En Agrosuper, tenemos la misi√≥n de llevar alim...    Not Applicable
19  En Devaid> nos apasionan los desaf√≠os tecnol√≥g...       Entry level
20  Somos m√°s de 90 mil personas que, d√≠a a d√≠a, d...  Mid-Senior level
21  Descripci√≥n Empresa\r\nSomos m√°s de 90 mil per...  Mid-Senior level
22  Somos una FinTech que busca democratizar los s...    Not Applicable
23  NeuralWorks es una compa√±√≠a de alto crecimient...    Not Applicable
24  En BC Tecnolog√≠a, somos una consultora de TI c...    Not Applicable
25  Description\r\nMediastream is a leading stream...  Mid-Senior level
26  ‚úîÔ∏è\r\n¬øQui√©nes Somos?\r\nSomos una consultora ...         Associate
27  Who are we?\r\nAmaris Consulting es una firma ...       Entry level
28  Resumen del Cargo:\r\nBusco Ingeniero de Datos...       Entry level
29  Company Description: AyCA Spa\r\nJob Descripti...       Entry level
30  Descripci√≥n Empresa\r\nSomos m√°s de 80 mil per...  Mid-Senior level
31  Hi there! We are South and our client is looki...         Executive
32  ¬°Hola! Estamos buscando un Senior Data Enginee...  Mid-Senior level
33  ‚úîÔ∏è\r\n¬øQui√©nes Somos?\r\nSomos una consultora ...    Not Applicable
34  Estimada red:\nNos encontramos en b√∫squeda de ...         Associate
35  Estimada red:\nNos encontramos en b√∫squeda de ...         Associate
36  Estimada red:\nNos encontramos en b√∫squeda de ...         Associate
37  Descripci√≥n Empresa\nSomos m√°s de 90 mil perso...  Mid-Senior level
38  ¬øQui√©nes somos?\nEn \nOption\n, creemos en un ...       Entry level
39  Experience Remote done Right. With over 20 yea...  Mid-Senior level
40  Experience Remote done Right. With over 20 yea...  Mid-Senior level
41  Experience Remote done Right. With over 20 yea...  Mid-Senior level
42  Experience Remote done Right. With over 20 yea...  Mid-Senior level
43  Experience Remote done Right. With over 20 yea...  Mid-Senior level
44  üöÄ¬°Si tienes una mente inquieta y te gusta so√±a...  Mid-Senior level
45  Description\nRia Money Transfer, a business se...  Mid-Senior level
46  Join Us to Shape the Digital World. We‚Äôre pass...  Mid-Senior level
47  El Ingeniero de Datos Senior es responsable de...  Mid-Senior level
48  Team Sparq is committed to creating high-quali...  Mid-Senior level
49  Team Sparq is committed to creating high-quali...  Mid-Senior level
50  El Ingeniero de Datos se encarga de optimizar ...  Mid-Senior level
51  Somos\n KPaz, \ncompa√±√≠a que cuenta con 10 a√±o...  Mid-Senior level
52  En \nTata Consultancy Services\n (www.tcs.com)...  Mid-Senior level
53  En \nTigabytes\n üöÄ, como Partner Premier de Go...  Mid-Senior level
54  MindCo\n, importante empresa especializada de ...  Mid-Senior level
55  We are seeking an experienced Chief Data Engin...  Mid-Senior level
56  We are looking for a skilled Chief Data Engine...  Mid-Senior level
57  We are seeking an experienced Chief Data Engin...  Mid-Senior level
58  Join our dynamic team as a \nLead Data Enginee...  Mid-Senior level
59  Join our dynamic team as a \nSenior Data Engin...  Mid-Senior level

   employment_type                                       job_function
0        Full-time                             Information Technology  \
1        Full-time                                         Consulting
2        Full-time                             Information Technology
3         Contract                             Information Technology
4         Contract                             Information Technology
5         Contract                             Information Technology
6        Full-time                             Information Technology
7        Full-time                             Information Technology
8        Full-time                             Information Technology
9        Full-time                             Information Technology
10       Full-time                             Information Technology
11       Full-time                             Information Technology